* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #262626;
    font-family: 'PT Sans', sans-serif;
  }
  
  .header {
    background-color: #350068;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header-content {
    text-align: center;
    color: #fff;
  }
  
  .header h1 {
    font-size: 4em;
    color: #C50FE7;
    font-family: 'Dune Rise', cursive;
  }
  
  .header h2 {
    font-size: 2em;
    color: #fff;
  }
  
  .header-button-container {
    margin-top: 25px;
  }

  .btm-nav a{
    color: #C50FE7;
    font-family: "PT Sans";
    font-weight: bold;
    font-size: x-large;
    padding: 0 5px 0 5px;
  }
  
  .download-button {
    background-color: #C50FE7;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.5em;
    transition: background-color 0.2s ease;
  }
  
  .download-button:hover {
    background-color: #350068;
  }
  
  .app-screenshot-container {
    text-align: center;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .app-screenshot {
    max-width: 20%;
    width: 40%;
    border: 3px solid #350068;
    height: auto;
    margin: 10px;
    border-radius: 10px;
  }
  
  .features {
    padding: 50px 0;
    text-align: center;
  }
  
  .features h2 {
    font-size: 2em;
    color: #C50FE7;
    margin-bottom: 25px;
  }
  
  .features ul {
    list-style: none;
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .features li {
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 10px;
  }

  .alerts {
    background-color: #350068;
    padding: 25px;
    color: #fff;
  }
  
  .alert {
    background-color: #C50FE7;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 25px;
  }
  
  .alert h3 {
    color: #fff;
    margin-bottom: 10px;
  }
  
  .alert p {
    color: #fff;
  }
  
  
  @media screen and (max-width: 425px) {
    .app-screenshot {
        max-width: 100vw;
        width: 100vh;
    }
    .header h1 {
      font-size: 3em;
    }
    .header h2 {
      font-size: 1.5em;
    }
    .download-button {
      font-size: 1.25em;
    }
    .app-screenshot {
      width: 45%;
    }
    .features h2 {
      font-size: 1.5em;
    }
    .features li {
      font-size: 1.25em;
    }
  }
  